/* p.abc::first-line{
    font-size: 200%;
} */

/* input.inp{
    background-color: yellow;
    color: blue;
}

input.inp:hover{
    background-color: purple;
}

input.inp:active{
    background-color: blue;
}

input.inp:focus{
    background-color: black;
    color: white;
} */

.main{
    background-color: aqua;
    width: 80%;
    padding: 30px;
    border: 5px solid black;
    border-radius: 30px;
    box-shadow: 10px 10px 10px yellow;
    margin: auto;
    /* margin: 50px; */
    /* margin-left: 30px; */
    /* margin-top: 30px; */
    /* height: 200px; */
    /* overflow: scroll; */
}























